@charset "utf-8";
/*=========================  dark-blue.css  ==========================*/
/* Terminal-like monospace dark css theme with dynamic ascii tables. */

@font-face {
    font-family: 'Hack-Regular';
    src: url('./fonts/Hack-Regular.ttf');
}

* {
    background-color: #000000;
    font-family: Hack, Hack-Regular, monospace;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    color: #cccccc;
    font-weight: normal;
    padding-right: 8px;
    padding-left: 8px;
    min-width: 480px;
}

a {
    color: #0055ff;
}

a:hover {
    color: #00bbff;
}

b {
    font-weight: bold;
    color: #777777;
}

b i {
    color: #555588;
}

em {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6, .heading {
    font-weight: bold;
    color: #00bbff;
}

i {
    color: #6666aa;
    font-style: italic;
}

.align-right {
    text-align: right;
}

.code {
    font-weight: bold;
    color: #777777;
}

.code i {
    color: #555588;
}

.code-box {
    font-weight: bold;
    color: #333333;
}

.float-right {
    display: inline-block;
    float: right;
    margin-left: 8px;
}

/* control content by character width: */
.w-140, .w-120, .w-100, .w-80, .w-60 {
    display: none;
}
@media only screen and (min-width: 1161px) {
    .w-120, .w-100, .w-80, .w-60 {
        display: none;
    }
    .w-140 {
        display: inline;
    }
}
@media only screen and (max-width: 1160px) {
    .w-140, .w-100, .w-80, .w-60 {
        display: none;
    }
    .w-120 {
        display: inline;
    }
}
@media only screen and (max-width: 1000px) {
    .w-140, .w-120, .w-80, .w-60 {
        display: none;
    }
    .w-100 {
        display: inline;
    }
}
@media only screen and (max-width: 840px) {
    .w-140, .w-120, .w-100, .w-60 {
        display: none;
    }
    .w-80 {
        display: inline;
    }
}
@media only screen and (max-width: 680px) {
    .w-140, .w-120, .w-100, .w-80 {
        display: none;
    }
    .w-60 {
        display: inline;
    }
}
